<div class="nav-container">
  <span (click)="changeLanguage('en')" class="item">en</span> <span (click)="changeLanguage('pt')" class="item">pt</span> <span (click)="changeLanguage('it')"
                                                                                                                                class="item"
>it</span>

  <span class="item" (click)="toggleTheme()">Toggle Theme</span>
  <span class="item" (click)="setTheme('test')">Test Theme</span>
  <span class="item" (click)="setFontSize(13)">Small</span>
  <span class="item" (click)="setFontSize(16)">Normal</span>
  <span class="item" (click)="setFontSize(18)">Big</span>
</div>
