<gtform-hbf-template>
  <div class="gtform-container" header>
    <div class="gtform-row">
      <div class="gtform-col-6">
        <gtform-button (click)="drawer.toggleLeft()">Show Panel</gtform-button>
      </div>
    </div>
  </div>
  <div body cdkDropListGroup>
    <gtform-side-drawer #drawer [isLeftOpen]="true" [leftContent]="leftTemplate">
      <div class="gtform-container" style="margin-top: 1rem">
        <div (cdkDropListDropped)="drop($event)" [cdkDropListData]="formControls" cdkDropList class="gtform-row"
        >
          <ng-container *ngFor="let control of formControls">
            <div [cdkDragDisabled]="!isEditEnabled" cdkDrag class="gtform-col-6">
              <gtform-input-text (deleteEvent)="removeControlFromFormControls(control)"
                                 [enableMenu]="isEditEnabled"
                                 [label]="control.label"
                                 gtformDragControlPanel
              ></gtform-input-text>
              <!-- Placeholder for form controls drop list -->
              <div *cdkDragPlaceholder class="gtform-col-6 example-custom-placeholder"></div>
              <gtform-input-text *cdkDragPreview></gtform-input-text>
            </div>
          </ng-container>
        </div>
      </div>
    </gtform-side-drawer>
    <ng-template #leftTemplate>
      <div class="gtform-container">
        <div class="gtform-row">
          <div class="gtform-col-12">
            <gtform-button (click)="tgogleEdit()">Enable Edit</gtform-button>
          </div>
        </div>
        <div class="gtform-row">
          <div class="gtform-col-12">
            <h3>Available Controls</h3>
          </div>
        </div>
        <div class="gtform-row">
          <div (cdkDropListDropped)="drop($event)" [cdkDropListData]="controlsAvailable" cdkDropList class="gtform-col-12"
          >
            <div *ngFor="let control of controlsAvailable" cdkDrag class="gtform-col-6">
              {{ control.label }}
              <!-- Placeholder for available controls drop list -->
              <div *cdkDragPlaceholder class="gtform-col-6 example-custom-placeholder"></div>
              <gtform-input-text *cdkDragPreview></gtform-input-text>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</gtform-hbf-template>
