<div class="gtform-container">
  <div class="gtform-row">
    <div class="gtform-col-2">
      <gtform-button (click)="showBannerBottomSuccessMessage()">Banner Bottom</gtform-button>
    </div>
    <div class="gtform-col-2">
      <gtform-button (click)="showBannerTopInfoMessage()">Banner Top</gtform-button>
    </div>
    <div class="gtform-col-2">
      <gtform-button (click)="showBottomLeftErrorMessage()">Bottom Left</gtform-button>
    </div>
    <div class="gtform-col-2">
      <gtform-button (click)="showBottomRightWarningMessage()">Bottom Right</gtform-button>
    </div>
    <div class="gtform-col-2">
      <gtform-button (click)="showTopLeftInfoMessage()">Top Left</gtform-button>
    </div>
    <div class="gtform-col-2">
      <gtform-button (click)="showTopRightSuccessMessage()">Top Right</gtform-button>
    </div>
  </div>
</div>
